*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 500px;  
    height: 200px;
    border-style: solid;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 200px;
}
.block{
    bottom: 0;
    width: 50px;
    position: absolute;
    left: 50px;
}
.blockJmp{
    animation: jmp 1s ease-out;
}
.spike{
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0;
    animation: spikeMove 2s infinite linear;
}
@keyframes spikeMove{
    from{
        right: -10%;
    }
    to{
        right: 100%;
    }
}
@keyframes jmp{
    0%{
        bottom: 0;
    }
    50%{
        bottom: 100px;
    }
    100%{
        bottom: 0%;
    }
}
